<a href="https://colab.research.google.com/github/Tanuhlik/BigData/blob/master/Red_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('winequality-red.csv')

In [3]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
del data['citric acid']
del data['chlorides']
del data['free sulfur dioxide']
del data['total sulfur dioxide']
del data['sulphates']

In [5]:
data.head()

   fixed acidity  volatile acidity  residual sugar  ...    pH  alcohol  quality
0            7.4              0.70             1.9  ...  3.51      9.4        5
1            7.8              0.88             2.6  ...  3.20      9.8        5
2            7.8              0.76             2.3  ...  3.26      9.8        5
3           11.2              0.28             1.9  ...  3.16      9.8        6
4            7.4              0.70             1.9  ...  3.51      9.4        5

[5 rows x 7 columns]

In [0]:
y = data['quality']
del data['quality']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2)

In [9]:
Xtrain.head()

      fixed acidity  volatile acidity  residual sugar  density    pH  alcohol
942            10.1             0.430             2.6  0.99834  3.22     10.0
1046            7.6             0.780             1.7  0.99612  3.31     10.7
719             7.1             0.660             3.9  0.99760  3.46      9.5
554            15.5             0.645             4.2  1.00315  2.92     11.1
1382            8.0             0.600             2.1  0.99613  3.30      9.9

In [10]:
Ytrain.head()

942     7
1046    6
719     5
554     5
1382    5
Name: quality, dtype: int64

In [0]:
from sklearn import linear_model

In [0]:
from sklearn.metrics import mean_squared_error, r2_score

In [0]:
regr = linear_model.LinearRegression()

In [14]:
regr.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
Xtest.head()

      fixed acidity  volatile acidity  residual sugar  density    pH  alcohol
1009            9.6             0.500             2.8  0.99722  3.18     10.9
143             6.3             0.390             1.7  0.99540  3.34      9.4
1294            8.2             0.635             2.1  0.99638  3.29     10.9
898             8.3             0.310             2.4  0.99444  3.31     12.5
382             8.3             0.260             2.0  0.99740  3.21      9.4

In [16]:
Ytest.head()

1009    5
143     5
1294    6
898     7
382     6
Name: quality, dtype: int64

In [17]:
Ytest.mean()

5.615625

In [0]:
Ypred = regr.predict(Xtest)

In [19]:
print("Mean squared error: %.2f"
      % mean_squared_error(Ytest, Ypred))

Mean squared error: 0.40

In [20]:
print('Variance score: %.2f' % r2_score(Ytest, Ypred))

Variance score: 0.33