<a href="https://colab.research.google.com/github/Tanuhlik/BigData/blob/master/White_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('winequality-white.csv')

In [9]:
data.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [0]:
del data['citric acid']
del data['chlorides']
del data['free sulfur dioxide']
del data['total sulfur dioxide']
del data['sulphates']

In [11]:
data.head()

   fixed acidity  volatile acidity  residual sugar  ...    pH  alcohol  quality
0            7.0              0.27            20.7  ...  3.00      8.8        6
1            6.3              0.30             1.6  ...  3.30      9.5        6
2            8.1              0.28             6.9  ...  3.26     10.1        6
3            7.2              0.23             8.5  ...  3.19      9.9        6
4            7.2              0.23             8.5  ...  3.19      9.9        6

[5 rows x 7 columns]

In [0]:
y = data['quality']
del data['quality']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data, y, test_size=0.2)

In [54]:
Xtrain.head()

      fixed acidity  volatile acidity  residual sugar  density    pH  alcohol
2584            6.8              0.18            12.8  0.99808  3.00      9.0
2607            8.9              0.26             8.1  0.99558  3.13     10.8
3837            8.0              0.27             1.2  0.99002  3.00     12.4
3421            6.3              0.29             4.7  0.99036  3.24     12.7
4642            5.7              0.24             1.3  0.98968  3.37     12.4

In [55]:
Ytrain.head()

2584    7
2607    6
3837    6
3421    8
4642    7
Name: quality, dtype: int64

In [0]:
from sklearn import linear_model

In [0]:
from sklearn.metrics import mean_squared_error, r2_score

In [0]:
regr = linear_model.LinearRegression()

In [59]:
regr.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
Xtest.head()

      fixed acidity  volatile acidity  residual sugar  density    pH  alcohol
1091            7.2              0.21            14.5  0.99820  3.05      8.9
2701            6.5              0.23            16.3  0.99924  3.26      8.8
1794            6.6              0.37             2.0  0.99460  3.32      9.4
3072            7.5              0.25             4.1  0.99184  2.92     11.3
2104            6.0              0.16             6.7  0.99510  3.63     10.6

In [61]:
Ytest.head()

1091    6
2701    5
1794    5
3072    6
2104    5
Name: quality, dtype: int64

In [62]:
Ytest.mean()

5.891836734693878

In [0]:
Ypred = regr.predict(Xtest)

In [67]:
print("Mean squared error: %.2f"
      % mean_squared_error(Ytest, Ypred))

Mean squared error: 0.60

In [68]:
print('Variance score: %.2f' % r2_score(Ytest, Ypred))

Variance score: 0.26